<!---------------------------NAVS--------------------------------->
<nav class="navbar fixed-top navbar-expand-sm">
  <div class="container" id="navbar">
    <a class="navbar-brand" id="navWidth" href="https://dhis2.udsm.ac.tz/#/home" routerLink="/home">
      <img src="/assets/dhis2-logo.png" alt="dhis2logo" class="img-responsive">
     
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-1 justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
<!-- Dropdown-1 -->
<li class="nav-item mx-4">
  <a class="nav-link" aria-disabled="true">About <span class="text-success">iCare</span></a>
</li>
<!-- Dropdown-2 -->
<li class="nav-item mx-4">
  <a class="nav-link" aria-disabled="true">Services</a>
</li>
<!-- Dropdown-3 -->
<li class="nav-item mx-4">
  <a class="nav-link" aria-disabled="true">Our team</a>
</li>
<!-- Item-4 -->
<li class="nav-item mx-4">
  <a class="nav-link" aria-disabled="true" routerLink="/pricing">Pricing</a>
</li>
<!-- Item-5 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true" routerLink="/pricing">DHIS2</a>
        </li>
<!-- Item-6 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true">News</a>
        </li>
<!-- Item-7 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true">Contants</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!---------------------------NAVS--------------------------------->

