.navbar{ 
/*background-color: #B1BED5;*/
font-family: 'Ubuntu';
/* background-image: linear-gradient(to bottom,#4D80E4); */
background-color: var(--navbar-scroll);
transition: background-color 1s ease;
color: var(--navbar-scroll-text);
-webkit-box-shadow: var(--navbar-scroll-shadow);
box-shadow: var(--navbar-scroll-shadow);

}

.img-responsive{
    height:2.5rem;
    width: 100%;
}
