<div class="container">
    <footer class="py-5">
        <div class="row">
          <div class="col-sm-3">
            <a class="navbar-brand" id="navWidth" href="https://dhis2.udsm.ac.tz/#/home" routerLink="/home">
              <img src="/assets/dhis2-logo.png" alt="dhis2logo" class="img-responsive">
            </a>
            <br>
            Room No. B108, 
            College of Information and Communication Technologies (CoICT),
            University of Dar es Salaam, CoICT Kijitonyama Campus,
            Ali Hassan Mwinyi Road, Kijitonyama, Tanzania
          </div>
    
          <div class="col-sm-3 text-center">
            <h5>Quick Links</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Projects</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Research</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Innovations</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Team</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gallery</a></li>
            </ul>
          </div>
    
          <div class="col-sm-3 text-center">
            <h5>Useful Links</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CSE</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CoICT</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">University of Dar-es-Salaam</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ministry of Health</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">DHIS 2</a></li>
            </ul>
          </div>
    
          <div class="col-sm-3">
            <h4>About Us</h4>
            Started 21 years ago as a small-scale research project supported by the University of Oslo,
            whose initial implementation achievements in the Coast Region led to DHIS2 adoption by Tanzania's Ministry of Health. 
            The pilot success in the Coast region acted as a catalyst to enable DHIS2's full-scale rollout in the health sector of Tanzania.
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© 2023 dhis 2, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </footer>
</div>