#container2{
    height: 100%;
    display: grid;
    font-family: 'Ubuntu';
}

.pL{
    margin-right: 15%;
}

.pR{
    margin-left: 15%;
}

p{
    width: 50%;
    margin:0 auto;
    font-size:large;
}

.container-fluid{
background-color: #E4EFF5!important;
}

.col-sm-6{
    margin-bottom: 3%;
    padding: 0;
}

.row{
padding: 0;
margin: 0;
}
/* (<i class="fa-duotone fa-pen-to-square fa-beat-fade fa-2xs"></i>) :- This is a fontawesome link */ 


/* @media (max-width: 767px) {
    .container-fluid{
        width:100%;
        height:90%;
    }
} */