<div class="container-fluid p-5 bg-white">
  <div class="container text-center" id="container2">
    <div class="row">
      <div class="col-sm-12">
        <p>Ready for the Journey?</p>
        <h3><strong>Get to know how to use <span class="text-warning">iCare</span></strong></h3>
        <p>
          With high collaboration of proffesionals the processes are made easier than you can imagine,
          lets flow in noticing how we have decided to make your patient services <strong>easier, timely and 
            cost efficitent. </strong> <span class="text-success">NO NEED OF PAPERS AGAIN!</span>
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <p class="pL">
          Have Your device connected to your local network.
          For high populative service provision institutions we encourage using a high range Local Area network.
          This is to improve the data flow across your devices on customers informations and even registering new users.
        </p>
      </div>
      <div class="col-md-6">
        <p class="pR">
         Using a phone, tablet, or your computer visit and open your web browser.
         Go to our iCare page. You can directly type <span class="text-success">iCare....</span> and on spot
         you will be now ready to go.
         You may navigate directly to the page by clicking <a href="#"><strong>HERE</strong></a>. 
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <p class="pL">
         If you are already as an institution enrolled into the iCare platform 
         use the registered username and password to start using the application.
         If not yet registered feel free to create an account to start accessing our services.
         Start creating your acccount for free <a href="#"><strong>HERE</strong></a>.  
        </p>
      </div>
      <div class="col-md-6">
        <p class="pR">
          With high user friendly processes the iCare platform is highly built in user friendly.
          You can only easily flow with the steps from when your patient is admitted 
          to the final stage.
          We host training programs at institutional level for efficient manipulation of iCare.
          You can enroll <a href="#"><strong>HERE</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
