<!--Cards-->
<div class="container-fluid">
  <div class="container p-5 justify-content-center" id="cardsContainer">
    <div class="row text-center">
      <div class="col">
        <p id="headP">iCare features</p>
        <h3 class="text-white">
          <strong
            >Know our high professional features collaborated by professionals
            for professionals.</strong
          >
        </h3>
        <p id="headP">
          We've done the best to include all the necessary categories that are
          required in the patients journey from the admission to the termination
          of your service professionals. These tools are efficiently tested for
          use in any medical institution by medical experts.
        </p>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col">
        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_1.jpeg"
            class="card-img-top"
            alt="card1Img"
          />
          <div class="card-body">
            <h5 class="card-title">Registration</h5>
            <p class="card-text">
            The iCareConnec+ app is incorporated with a registration module,
            this takes of most details that are required by the medical providers
            so that appropriate and good treatments are provided to the patient.
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>

        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_2.png"
            class="card-img-top"
            alt="card2Img"
            id="smallImg2"
          />
          <div class="card-body">
            <h5 class="card-title">Nursing</h5>
            <p class="card-text">
              The nursing module takes in the information for giving nurses
              awareness to pay visit to the registered patients ensuring health safety
              measure and services are rendered in a full time.
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>
      </div>

      <div class="col">
        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_3.png"
            class="card-img-top"
            alt="card3Img"
            id="smallImg3"
          />
          <div class="card-body">
            <h5 class="card-title">Laboratory</h5>
            <p class="card-text">
             The iCareConnec+ contains Laboratory module through which the 
             necessary checks done through the laboratory process that can be
             accessed anytime by the medical practitioner.
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>

        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_4.png"
            class="card-img-top"
            alt="card4Img"
          />
          <div class="card-body">
            <h5 class="card-title">Store</h5>
            <p class="card-text">
              In the iCareConnec+ you can find a good way to keep records of your health facility tools 
              and drugs ensuring that whatever need that is demanded to offer patient with consistent 
              services and treatments is made available through the whole time. 
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>
      </div>

      <div class="col">
        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_5.png"
            class="card-img-top"
            alt="card5Img"
          />
          <div class="card-body">
            <h5 class="card-title">Pharmacy</h5>
            <p class="card-text">
              Built in the iCareConnec+ application You the medical practitioners can communicate
              necessary drugs and tools that a patient is to be provided with to the pharmacy services
              providers in the hospital with no need of paper transfer from rooms to rooms in the facility.
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>

        <div class="card border-primary mb-3" id="card">
          <img
            src="/assets/card_image_6.png"
            class="card-img-top"
            alt="card6Img"
          />
          <div class="card-body">
            <h5 class="card-title">Cashier</h5>
            <p class="card-text">
              In the provision of day to day services around the health facility it is important to
              take record and keep track of the cash flow as services are issued to the patients. 
              iCareConnec+ has this built up environment that is a corruption free agent in your facility.
            </p>
          </div>
          <div class="card-footer"><button class="btn">More</button></div>
        </div>
      </div>
    </div>
  </div>
  <!--Cards-->

  <!--Testimonials-->
  <div class="container-fluid p-5 mt-5" id="testimonialsContainer">
    <div class="container text-center text-success">
      <p>testimonials</p>
      <h1>What do our users have to say about Us?</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title"></h5> -->
              <p class="card-text">
                iCare is the only built in EMR that swags up our hospital ques
                in a 5G speed. Its built in features are effective and
                professional tested. We never had such effective customer
                service before in our hospital as we have been experiencing in
                these past two years of its use.
              </p>
              <br />
              <img
                src="/assets/tesimonial_person1.jpg"
                alt="testimony1"
                id="testimonialPersons"
              />
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title"></h5> -->
              <p class="card-text">
                Through this season of using iCareConnec+ at our Hospital We have had a very
               different customer experience. No more ques, no more complains of late attended
               patients in the ward, an improved communication connection and flow through
               all units from different buildings. If I were to rate iCareConnec+ I would have 
               given it a 5 star Rate!
              </p>
              <br />
              <img
                src="/assets/testimonial_person3.jpeg"
                alt="testimony3"
                id="testimonialPersons"
              />
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title"></h5> -->
              <p class="card-text">
                We have had an experience with subsequent EMR's in our hospitals but 
                the experience with iCareConnec+ is just thrilling. Things flow quite in time and
                very easily even to workers with almost little knowledge in computer knowledge.
                Thanks to the developers for such a powerful service tool.
              </p>
              <br />
              <img
                src="/assets/testimonial_person2.jpeg"
                alt="testimony2"
                id="testimonialPersons"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Testimonials-->

    <!--Joining Container-->
    <div class="container text-center">
      <div class="row my-5 py-5 justify-content-center" id="lastRow">
        <div class="col border rounded" id="lastCol">
          <h3 class="pt-5">Join our newsletter</h3>
          <p class="p-2">Be notified of our improvement releases and updates!</p>

          <div class="row">
            <div class="col" id="inputCol">
              <input
                type="text"
                id="input1"
                class="form-control w-50"
                placeholder="email"
              />
            </div>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto my-2">
            <button class="btn btn-info" type="button">Send Us!</button>
          </div>
          <p class="mb-5 pb-3">
            <small
              >
              By subscribing to our newsletter you'll get weekly notification on the iCare platform
              updates and new features as early as changes are made.
              </small
            >
          </p>
        </div>
      </div>
    </div>
    <!--Joining container-->
  </div>
</div>
