.image1{
    width: 90%;
    height: 70%;
}

.image2{
    width: 80%;
    height: 70%;
}

#container{
    background-color: #F1F1F1;
    justify-items: stretch;
}


.container2 p{
    width: 50%; /* Set the desired width for the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally within the container */
    text-align: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

span{
    max-height: 20%;
}

#container1Images{
    height: 100vh;
}


.container1Content1{
    margin-left: 20%;
    width: 60%;
    display: grid;
    justify-items:center;
    height: 100vh;
    font-family: 'Ubuntu';
}

#logos{
    width: 70%;
    height: 70%
}

h1{   
font-weight:bolder;
}